body{
    background-color: grey;
    background-size: cover;
    padding: 2%;
    background-image: url(./images/bg1.jpeg);
p{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.topnav{
    text-align: left;
}